.room-code {
  margin-left: auto;
  height: 40px;
  width: auto;
  flex-wrap: nowrap;
  border-radius: 8px;

  overflow: hidden;
  background-color: #FFF;
  border: 1px solid #8351fd;
  cursor: pointer;

  display: flex;
  align-items: center;

  div {
    height: 100%;
    background-color: #8351fd;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    flex-wrap: nowrap;
    width: auto;
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: auto;
    font-size: 14px;
    font-weight: 500;
  }


}

.exit-button {
  display: none;
}

@media screen and (max-width: 500px) {
  .exit-description {
    display: none;
  }

  .exit-button {
    display: inline-block;
    font-size: 2rem;
  }
}